.main {
	width: 100%;
	display: flex;
	min-height: 90vh;
	align-items: center;
	justify-content: center;
}

.search-box > * {
	border:0;
	outline:0;
	padding:10px;
	font-size:20px;
	border-radius:0;
	line-height:30px;
	background:white;
	-webkit-appearance:none;
}

.search-input {
	flex: 2;
}
