.main {
	width: 100%;
	display: flex;
	min-height: 90vh;
	align-items: center;
	justify-content: center;
}

.search-box > * {
	border:0;
	outline:0;
	padding:10px;
	font-size:20px;
	border-radius:0;
	line-height:30px;
	background:white;
	-webkit-appearance:none;
}

.search-input {
	flex: 2;
}

.layout {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 400px;
}

.forecast {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.icon {
	margin: 10px 0px;
}

.picker {
	display: flex;
	justify-content: space-between;
}

.temperature {
	display: flex;
	margin-left: 20px;
}

.detail {
	padding: 10px;
}

.error-message {
	background:  #D9E9F7;
	margin: 30px 20px;
	padding: 20px;
	border: 2px solid #0783ED;
	text-transform: uppercase;
}